@{
    ViewData["Title"] = "Informacion institucional";
}

<!-- # Mision -->
<div  style="max-width: 700px; margin:10px">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="..\img\iconos\hospital(3).png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Misión</h5>
                <p class="card-text">Nuestra misión es ser la mejor alternativa para cada paciente, garantizando velocidad y precisión en cada diagnóstico a través de profesionales de primer nivel y tecnología de avanzada, asegurando así la máxima calidad, ética y excelencia médica. Siempre mirando al futuro, abiertos a los distintos cambios y con el firme propósito de crecer cada día más en el nuevo milenio”.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
<!--#Linea del tiempo-->

<div class="tiempo">
    <h5 class="tituloTiempo">Nuestra Historía</h5>
    <p class="parrafoTiempo">La Clínica nació en el 17 de Agosto de 1970 con el objetivo de armar un servicio de Traumatologia, consultorios de Odontologia y servicio de Radio-Diagnostico , con este fin se adquirio el lote Nº 1. En forma simultanea comenzaron los servicios de Fisioterapia, Kinesioterapia y Laboratorio, además se contaba con un quirófano y dos habitaciones de internacion. La construccion continuo sin interrupciones, agregandose en el primer piso siete habitaciones y los quirofanos en el segundo piso (1974).</p>
    <p class="parrafoTiempo">Se adquiere el predio N° 2 donde se instala el centro de tratamientos radiantes, al mismo tiempo se inicia la construcción de los consultorios externos en la planta baja, en la zona de adelante del lote se construyeron cuatro pisos, finalizando la obra en 1976/77.</p>
    <p class="parrafoTiempo">En 1978 se adquiere el predio Nº 3 con el fin de unificar los dos primeros edificios, aquí se construyó la cafeteria en el primer piso, administracion en el segundo y el acceso de vehiculos con una pequeña playa de estacionamiento en la planta baja.</p>
    <p class="parrafoTiempo">Se compran los predios Nº 4 y Nº 5, los cuales inmediatamente fueron demolidos y se utilizo el espacio como playa de estacionamiento, en estos predios se contruyo el servicio de Traumatolgia en PB, Programa Mujer y el Auditorio en el primer piso, Internacion en el segundo y tercer piso, Direccion en el cuarto piso, esto ocurrió a lo largo de 1987 y 1988.</p>
    <p class="parrafoTiempo">A lo largo de 1988 y con el propósito de tener salida sobre la calle D'elia se adquirio el predio N° 6, luego se adquirio el lote Nº 7, el cual se utilizo para vestuarios mantenimiento y kinesioterapia.</p>
    <p class="parrafoTiempo">Se compró el predio Nº 8 en 1991 mediante el cual se obtuvo salida a la calle Tribulato y se adaptó la construcción al servicio de Dermatologia.</p>
    <p class="parrafoTiempo">Se mejoraron y adaptaron los servicios de Terapia intensiva, Neonatologia, Tomografia Computada durante 1993 a 1996 y se creó la actual recepcion principal.</p>
    <p class="parrafoTiempo">En 2001 se realizó la reforma de Quirofano, Esterilizacion, Farmacia y Consultarios externos de Pediatria.</p>
    <p class="parrafoTiempo">Traslado de Kinesioterapia, vestuarios, ampliacion UTI, ampliacion de Esterilización en el año 2003.</p>
    <p class="parrafoTiempo">2008: Construcción de cirugía ambulatoria con sala de recuperación. Remodelación total area de quirofanos. Actualmente la clínica cuenta con 3 Quirofanos mas 1 Quirofano ambulatorio.</p>
    <p class="parrafoTiempo">Se construyó en el Lote 8 Playa de estacionamiento en el 2009.</p>
</div>

<!--Información de contacto-->
<div class="card-group">
    <div class="card-infoContacto">
        <img class="card-img-infoContacto" src="..\img\iconos\website.png" alt="Card image cap" >
        <div class="titulo-card">
            <h5 class="card-title">App</h5>
            <p class="card-text">Descargá nuestra app</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card-infoContacto">
        <img class="card-img-infoContacto" src="..\img\iconos\hospital(6).png" alt="Card image cap" >
        <div class="titulo-card">
            <h5 class="card-title">Ubicación</h5>
            <p class="card-text">Chacabuco 750, B1704 Ramos Mejía, Provincia de Buenos Aires</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card-infoContacto">
        <img class="card-img-infoContacto" src="..\img\iconos\emergency-call.png" alt="Card image cap" >
            <h5 class="card-title">Teléfonos</h5>
            <p class="card-text">011 4654-5265</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
</div>
