@model Historial_C.Models.Epicrisis

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Epicrisis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EpisodioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EpisodioId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
