@model RegistroUsuario

@{
    ViewData["Title"] = "Registrar";
}

    <h1>@ViewData["Title"]</h1>

    
    <hr/>

    <div class="rom">
            <div class="col-md-4">
        <form asp-action="Registrar" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                     <div class="form-group">

                         <label asp-for="ObraSocial" class="control-label"></label>
                         <input asp-for="ObraSocial" class="form-control" />
                         <span asp-validation-for="ObraSocial" class="text-danger"></span>

                     </div>
                    <div class="form-group">

                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>

                     </div>
                    <div class="form-group">

                        <label asp-for="Apellido" class="control-label"></label>
                        <input asp-for="Apellido" class="form-control" />
                        <span asp-validation-for="Apellido" class="text-danger"></span>

                    </div>
                    <div class="form-group">

                        <label asp-for="Dni" class="control-label"></label>
                        <input asp-for="Dni" class="form-control" />
                        <span asp-validation-for="Dni" class="text-danger"></span>

                    </div>
                    <div class="form-group">

                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>

                    </div>
                    <div class="form-group">

                        <label asp-for="Direccion" class="control-label"></label>
                        <input asp-for="Direccion" class="form-control" />
                        <span asp-validation-for="Direccion" class="text-danger"></span>

                    </div>


                    <div class="form-group">

                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>
                    <div class="form-group">

                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>
                    <div class="form-group">

                        <label asp-for="confirmacionPassword" class="control-label"></label>
                        <input asp-for="confirmacionPassword" class="form-control" />
                        <span asp-validation-for="confirmacionPassword" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <br />
                        <input type="submit" value="Registrar" class="btn btn-primary">
                    </div>
                </form>
            </div>
    </div>

    @section Scripts{
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

