@model Historial_C.Models.Evolucion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Evolucion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MedicoId" class="control-label"></label>
                <input asp-for="MedicoId" class="form-control" readonly />
                <span asp-validation-for="MedicoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EpisodioId" class="control-label"></label>
                <input asp-for="EpisodioId" class="form-control" readonly />
                <span asp-validation-for="EpisodioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionAtencion" class="control-label"></label>
                <input asp-for="DescripcionAtencion" class="form-control" />
                <span asp-validation-for="DescripcionAtencion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaYHoraAlta" class="control-label"></label>
                <input asp-for="FechaYHoraAlta" class="form-control" />
                <span asp-validation-for="FechaYHoraAlta" class="text-danger"></span>
            </div>
            

            <div class="form-group">
                <br />
                <input type="submit" value="Cerrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
