@model Historial_C.Models.Diagnostico

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Diagnostico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EpicrisisId" class="control-label"></label>
                <input asp-for="EpicrisisId" class="form-control" />
                <span asp-validation-for="EpicrisisId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recomendacion" class="control-label"></label>
                <input asp-for="Recomendacion" class="form-control" />
                <span asp-validation-for="Recomendacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
